<form method="post" action="/categorias/editar/<%= categoria.id %>">
    <label>
        Descrição<br />
        <input type="text" name="descricao" value="<%= categoria.description %>">
    </label>

    <input type="submit" value="Salvar" />
</form>