
<link rel="stylesheet" href="/stylesheets/style.css">
<p>
    <a href="/categorias/novo">Nova categoria</a>
</p>

<table>
    <thead>
        <tr>
            <h1>Descrição</h1>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(let categoria of categorias) { %>
        <tr>
            <td><%= categoria.description %></td>
            <th>
                <button><a href="/categorias/editar/<%= categoria.id %>">Editar</a></button> &nbsp
                <button><a href="/categorias/apagar/<%= categoria.id %>">Apagar</a></button><br><br>
            </th>
        </tr>
        <% } %>
    </tbody>
</table>
