<p>
    <a href="/categorias/novo">Nova categoria</a>
</p>

<table>
    <thead>
        <tr>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(let categoria of categorias) { %>
        <tr>
            <td><%= categoria.description %></td>
            <th>
                <a href="/categorias/editar/<%= categoria.id %>">Editar</a>
                <a href="/categorias/apagar/<%= categoria.id %>">Apagar</a>
            </th>
        </tr>
        <% } %>
    </tbody>
</table>
