<footer class="footer1">
    <div class="container">
        <div class="row termos">
            <div class="col-xs-12 col-md-3 col-lg-3 justify-content-center">
                <div class="titulo">
                    <h4>TERMOS INSTITUCIONAIS</h4>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 justify-content-center">
                <div class="titulo">
                    <h4>FORMAS DE PAGAMENTO</h4>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 justify-content-center">
                <div class="titulo">
                    <h4>CONTATO</h4>
                </div>

                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 justify-content-center">
                <div class="titulo">
                    <h4>INFORMAÇÃO LEGAL</h4>
                </div>

                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>
<footer class="footer2">
    <div class="container">
        <div class="row direitos-reservados">
            <div class="col-xs-12 col-md-6 col-lg-6 d-flex">
                <p>TODOS OS DIREITOS RESERVADOS ® | Loja de Roupas S.A - 2020</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 d-flex justify-content-end">
                <a href="#">Digital House </a>
            </div>
        </div>
    </div>
</footer>
</main>

<!--  -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
</body>

</html>